@using recipes_alexander_ccoa.Shared.DTO
@inject IJSRuntime js

<div>Hola</div>


<div class="chart-container" >
</div>

@code
{
    [Parameter]
    public IEnumerable<MotorDTO> Data { get; set; }

    protected override async Task OnInitializedAsync()
    {
       
    }

    protected override async Task OnAfterRenderAsync(bool first)
    {
         await js.InvokeVoidAsync("ChartMotorTimeLine", Data);
    }
   }